<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | Live Now</title>
    <link rel="stylesheet" href="../css/live.css">
</head>

<body>
    <div class="head">
        <div class="left"><img src="../assets/Vector.png" alt=""></div>
        <div class="title">Quiz</div>
        <div style="visibility: hidden;" class="left"><img src="../assets/Vector.png" alt=""></div>
    </div>
    <div class="content">
        <div class="text">The Quiz is now:</div>
        <div class="button">LIVE</div>
    </div>
    <img class="bgImg" src="../assets/background.png" alt="">
    <div class="purpleButton">
        <div class="start">START QUIZ</div>
    </div>
</body>

</html>