<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | Submitted</title>
    <link rel="stylesheet" href="../css/submit.css">
</head>

<body>
    <div class="head">
        <div class="left"><img src="../assets/Vector.png" alt=""></div>
        <div class="title">Quiz</div>
        <div style="visibility: hidden;" class="left"><img src="../assets/Vector.png" alt=""></div>
    </div>
    <div class="content">
        <div class="text">Thanks for submitting</div>
        <div class="text">Next quiz will be at 69:69</div>
    </div>
    <img class="bgImg" src="../assets/background.png" alt="">
</body>

</html>